/* body */
body {
background-color: goldenrod ;
color: white;
font-family: "Noto Music", sans-serif; 
font-weight: 400;
font-style: normal;
margin: 0;
text-align: center;
}


/* Header, first part of the body on every page*/
header {
align-items: center;
background: rgb(13, 70, 89);
border-radius: 3px;
border-color: darkslategray;
display: flex;
justify-content: center;
margin-bottom: 5px;
padding: 10px; 
}
/* logo */
.logo {
  display: inline-block;
  border-radius: 15px;
  height: 65px; 
  margin: 15px;
  width: 70px; 
}
/* navbar, helps navigate through pages */
.navbar {
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}
/*  links and hover */
a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  margin: 50px;
  padding: 2px;
}
a:hover {
  color: goldenrod;
  background-color: floralwhite;
  border-radius: 7px;
  padding: 0;
}
/* Button */
button{
  background-color: rgb(13, 70, 89);
  margin: 15px;
  text-align: left;
  color: rgb(237, 224, 224);
  size: 3px;
  box-shadow: none;
}


/* Main content, second part of the body */
main {
  background-color:  darkolivegreen;
  border-radius: 3px;
  border-color: darkslategray;
  color: rgb(237, 224, 224);    
  margin: 5px;  
  margin-bottom: 20px;
  padding: 85px;  
  text-align: left;
}
/* headings & paragraphs */
h1 {
font-size:xx-large;
font-family: sans-serif;
font-weight: 600;
font-style: normal;
margin: 15px;
text-align: left;
}
h3{
 margin: 15px;
}
p {
  display: block;
  font-family: "Noto Music";
  font-weight: 400;
  font-style: normal;
  margin: 15px;
  text-align: left;
}

/* Products page layout */
.product-item {
  display: flex;
  align-items: flex-start; /* keeps text aligned to top of image */
  gap: 20px; /* space between image and text */
  margin: 20px 0;
}
.products{
    height: 200px;
    width: 150px;
    margin: 15px;
    border-radius: 7px;
}
.products-text {
  flex: 1; /* allow text to take remaining space */
}

/* ContactUs page layout */
/* unorderd list wth its etails */
ul {
  list-style-type: none;  /* removes bullets */
  padding: 0;
  margin: 0;
  text-align: left; /* align neatly */
}
li {
  margin: 15px;         /* space between items */
  font-size: 16px;
  color: rgb(237, 224, 224);
}
.org-details{
  color: goldenrod;
  border-radius: 7px;
  padding: 0;
  text-decoration: underline;
}
/* iframe #map */
iframe{
 display: inline-block;
 border-radius: 20px;
 height: 150px; 
 width: 250px;
 margin: 8px;
 padding: 15px;
}

/* AboutUs page layout */
.about-us {
  display: flex;           /* side-by-side layout */
  align-items: flex-start; /* top-align text with image */
  gap: 20px;               /* space between image and text */
  margin: 20px 0;
}
.owner-pic {
  width: 170px;
  height: 200px;
  border-radius: 15px;
  margin-bottom: 0;
  margin: 15px;
  margin-top: 25px;
}
.owner-caption {
  font-size: 14px;
  color: lightgray;
  margin: 0;
  font-style: italic;
  margin-left: 15px;
}
.about-us-text {
  flex: 1;                 /* text takes remaining space */
  text-align: left;
}


/* Footer, third and last part of the body */
footer {
  background: rgb(13, 70, 89);
  border-radius: 3px;
  border-color: darkslategray;
  padding: 5px;
  text-align: center;
  color: white;
  margin-top: 40px;   
  margin-bottom: 0%; 
}
